/*.color1 { color:#046ce4 };
.color2 { color:#88c2f7 };
.color3 { color:#0e469c };
.color4 { color:#8aa4cc };
.color5 { color:#9cb4d4 };*/


.coloresCorporativos{
    color: #0F479B;
    color: #036DE3;
    color: #1D9DF4;
    color: #83C3EA;
}

/* Estilos adicionales */
.bg-gray {
    background-color: #F5F5F5;
    /* Color de fondo neutro */
}

.primary-color {
    color: #0F479B;
    /* Color de texto principal */
}

.primary-bg {
    background-color: #0F479B;
    /* Color de fondo principal */
}

.secondary-color {
    color: #F74E46;
    /* Color complementario - Texto */
}

.secondary-bg {
    background-color: #F74E46;
    /* Color complementario - Fondo */
}

/* Estilos para los botones */
.btn-primary {
    background-color: #0F479B;
    border-color: #0F479B;
}

.btn-primary:hover {
    background-color: #6CA8F7;
    border-color: #6CA8F7;
}

.btn-secondary {
    background-color: #F74E46;
    border-color: #F74E46;
}

.btn-secondary:hover {
    background-color: #F79446;
    border-color: #F79446;
}

.logo-carousel {
    overflow-x: auto;
    white-space: nowrap;
}

.logo-item {
    display: inline-block;
    margin-right: 10px;
    /* Espacio entre logos */
}


.imgBorderRadius {
    border-radius: 25px;
}






.button {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
}

.instagram {
    text-align: center;
    border-radius: 50px;
    padding: 26px;
    color: white;
    background: #467FF7;
    transition: all 0.2s ease-out 0s;
}

.gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(90px circle at top center, rgba(238, 88, 63, .8) 30%, rgba(255, 255, 255, 0));
    transition: all 0s ease-out 0s;
    transform: translatex(-140px);
    animation: 18s linear 0s infinite move;
}

@keyframes move {
    0% {
        transform: translatex(-140px);
    }

    25% {
        transform: translatex(140px);
        opacity: 0.3;
    }

    50% {
        transform: translatex(140px);
        opacity: 1;
        background: radial-gradient(90px circle at bottom center, rgba(238, 88, 63, .5) 30%, rgba(255, 255, 255, 0));
    }

    75% {
        transform: translatex(-140px);
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translatex(-140px);
        background: radial-gradient(90px circle at top center, rgba(238, 88, 63, .5) 30%, rgba(255, 255, 255, 0));
    }
}

.navbar{background: white;}

.img-technology{max-width: 85%;}
.grayscale{filter: grayscale(1);}
.img-carousel{height:50px; max-width:15%; margin:0 5%; float:left}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }